<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.classDao.PublicClassMapper">
        <select id="selectAllPublicCourse" resultType="pojo.classes.PublicClass">
            select * from css.class_public
        </select>
        <select id="selectPublicCourseByName" resultType="pojo.classes.PublicClass">
            select * from css.class_public where name=#{name}
        </select>
</mapper>