<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.otherDao.SelectiveSelectionsMapper">
        <insert id="addStuSelection" parameterType="pojo.other.CourseSelections">
            insert into css.selctive_selections
                (courseId, stuId, selectionCoins, teacherId, state)
                values
                (#{courseId}, #{stuId}, #{selectionCoins}, #{teacherId}, #{state})
        </insert>

        <delete id="deleteStuSelection">
            delete from css.selctive_selections where courseId=#{courseId} and stuId=#{stuId}
        </delete>

        <select id="selectACourseById" resultType="pojo.other.CourseSelections">
            select * from css.selctive_selections where courseId=#{courseId}
        </select>

        <select id="selectStuSelectionsById" resultType="pojo.other.CourseSelections">
            select * from css.selctive_selections where stuId=#{stuId}
        </select>

        <update id="updateSelectionState">
            update css.pe_selections set state=#{newState}
            where state=#{oldState}
        </update>
</mapper>